.modal-dialog
{
    max-width: 1000px !important;
}
.modal-content
{
    transform: scale(0.85);
    width: 100% !important;
    height: auto !important;
}
.highlight_block
{
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card
{
    box-shadow: none !important;
    background-color: transparent !important;
}
.plan_ul_li li
{
    width: 32%;
}
.corner_section h6
{
    font-size: 10px;
}
.corner_section p
{
    margin-bottom: 0px !important;
    color: #fff !important;
}
.plan_ul_li
{
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}
.modal-body p
{
    font-size: 12px !important;
}
.corner_section
{
    position: absolute;
    top: -40px;
    right: -30px;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid #070642;
    background: linear-gradient(to right, #9a3197, #E084CD);

    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.position_block
{
    position: relative;
}
.card_block
{
    border: 1px solid #ccc;
    border-radius: 20px;
}
.blog_main
{
    height: 485px;
}
.copy_write_container
{
    border-top: 1px solid #fff;
}
.content p
{
    margin-bottom: 10px;
}
.content a
{
    color: #9a3197;
    margin-top: 10px;
    font-size: 16px;
}
 .subpage_footer .footer_ul_li li a
{
    color: #000;
}
.subpage_footer
{
    background-color: #2C2C2C;
}
.subpage_footer .footer_link h5
{
    color: #000;
}
.subpage_footer .footer_ul_li li
{
    color: #000;
}
.subpage_footer .footer_ul_li_icon li
{
    border: 1px solid #000;
}
.footer_copyright p
{
    color: #000;
}
.footer_copyright p a
{
    color: #9a3197;
}
svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa
{
    color: #fff;
}
.card-body
{
    padding: 0px !important;
}

@media (min-width: 320px) and (max-width: 768px)
{
    .plan_ul_li
    {
        display: block !important;
    }
    .plan_ul_li li
    {
        width: 100% !important;
        margin-bottom: 20px;
    }
}
